<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phemex.dataFactory.mapper.MgmtAccountMapper">
    <resultMap id="MgmtAccountResultMap" type="com.phemex.dataFactory.model.MgmtAccount">
        <id property="id" column="id"/>
        <result property="owner" column="owner"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <!-- 插入操作 -->
    <insert id="insertSelective" parameterType="com.phemex.dataFactory.model.MgmtAccount">
        INSERT INTO admin_account (owner, username, password, created_at, updated_at)
        VALUES (#{owner}, #{username}, #{password}, #{createdAt}, #{updatedAt})
    </insert>

    <!-- 更新操作 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.phemex.dataFactory.model.MgmtAccount">
        UPDATE admin_account
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        WHERE owner = #{owner}
    </update>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="MgmtAccountResultMap"
            resultType="com.phemex.dataFactory.model.MgmtAccount">
        SELECT *
        FROM admin_account
        WHERE id = #{id}
    </select>

    <!-- 根据条件查询 -->
    <select id="selectByKey" parameterType="java.lang.String" resultMap="MgmtAccountResultMap"
            resultType="com.phemex.dataFactory.model.MgmtAccount">
        SELECT *
        FROM admin_account
        WHERE 1=1
        <if test="owner != null and owner != ''">
            AND owner = #{owner}
        </if>
        <if test="username != null and username != ''">
            AND username = #{username}
        </if>
        <if test="id != null">
            AND id = #{id}
        </if>
    </select>

    <!-- 根据owner查询 -->
    <select id="selectByOwner" parameterType="java.lang.String" resultMap="MgmtAccountResultMap"
            resultType="com.phemex.dataFactory.model.MgmtAccount">
        SELECT *
        FROM admin_account
        WHERE owner = #{owner}
    </select>
</mapper>
